<template name="scenario">

    <form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-9">
            {{> nameSection}}
            {{> incomeSection}}
            {{> liabilitiesSection}}
            {{> tester}}
        </div>
        <div class="col-lg-3">
            <div style="background-color: #c0c0c0;border: solid 1px #c0c0c0;height:500px;"></div>
        </div>
    </div>

    </form>
</template>

<template name="incomeSection">
    <div class="row">
        <div class="col-md-6">
            {{> income}}
        </div>
        <div class="col-md-6">
            ***********
        </div>
    </div>
</template>

<template name="liabilitiesSection">
    <div class="row">
        <div class="col-md-6">
            {{> creditCards}}
        </div>
        <div class="col-md-6">
            {{> commitments}}
        </div>
    </div>
</template>


<template name="nameSection">
        <div class="form-group">
            <label for="txtName" class="col-sm-4 control-label">Scenario Name</label>

            <div class="col-sm-8">
                <input id="txtName" type="text" value="{{scenario.name}}" class="form-control" placeholder="Scenario Name">
            </div>
        </div>

</template>


<template name="awizard">
    <div class="wizard">
        <a><span class="badge">1</span> Enquiry</a>
        <a><span class="badge">2</span> Submission</a>
        <a class="current"><span class="badge badge-inverse">3</span> Conditional</a>
        <a><span class="badge">4</span> Unconditional</a>
    </div>
</template>





<template name="liabilityDropItem">
    <span class="label">{{description}}</span>
</template>

        <template name="tester">
            <input type="text" id="test" class="form-control"/>
        </template>