<template name="scenario">

    <form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-9">
            {{> nameSection}}
            {{> liabilitiesSection}}
            {{> tester}}
        </div>
        <div class="col-lg-3">
            <div style="background-color: #c0c0c0;border: solid 1px #c0c0c0;height:500px;"></div>
        </div>
    </div>

    </form>
</template>

<template name="liabilitiesSection">
    <div class="row">
        <div class="col-md-6">
            {{> creditCards}}
        </div>
        <div class="col-md-6">
            {{> commitments}}
        </div>
    </div>
</template>


<template name="nameSection">
        <div class="form-group">
            <label for="txtName" class="col-sm-4 control-label">Scenario Name</label>

            <div class="col-sm-8">
                <input id="txtName" type="text" value="{{scenario.name}}" class="form-control" placeholder="Scenario Name">
            </div>
        </div>

</template>


<template name="awizard">
    <div class="wizard">
        <a><span class="badge">1</span> Enquiry</a>
        <a><span class="badge">2</span> Submission</a>
        <a class="current"><span class="badge badge-inverse">3</span> Conditional</a>
        <a><span class="badge">4</span> Unconditional</a>
    </div>
</template>

<template name="creditCards">

    <table class="grow-table">

        <thead>
        <td colspan="3" style="vertical-align:middle">
            No Credit Cards

        </td>
        <td class="noline" style="width:40px;"></td>

        </thead>

        {{#if hasCreditCards}}

        <thead>
            <td>
                Description
            </td>
            <td class="dollar">
                Limit
            </td>
            <td class="dollar">
                Owing
            </td>

            <td class="noline">
                &nbsp;
            </td>
        </thead>

        {{/if}}

        {{#each cards}}

        <tr>
            <td>
                <input class="description form-control" type="text" value="{{description}}" placeholder="Description"/>
            </td>
            <td>
                <input type="text" class="limit dollar form-control" value="{{limit}}" placeholder="Limit"/>
            </td>
            <td>
                <input type="text" class="owing dollar form-control" value="{{owing}}" placeholder="Owing"/>
            </td>
            <td class="noline" style="width:40px;">
                <!--<button class="delete btn btn-sm">-->
                    <span class="glyphicon glyphicon-remove delete clickable"></span>
                <!--</button>-->
            </td>
        </tr>

        {{/each}}
        <tr>
        <td colspan="4" style="vertical-align:middle">
            <button id="addCreditCard" class="btn">Add Card</button>
        </td>
        </tr>


    </table>


</template>


<template name="commitments">

    <table class="grow-table">

        <thead>
        <td colspan="3" style="vertical-align:middle">
            No Other Commitments

        </td>
        <td class="noline" style="width:40px;"></td>

        </thead>

        {{#if hasCommitments}}

        <thead>

        <td>
            Description
        </td>
        <td class="dollar">
            Payment
        </td>
        <td class="dollar">
            Owing
        </td>

        <td class="noline">
            &nbsp;
        </td>
        </thead>

        {{/if}}

        {{#each commitments}}

        <tr date-id="{{_id}}">

            <td>
                <select class="form-control description" name="Description" value="{{description}}" placeholder="Description" >
                    <option {{isSelected "Car Loan"}}>Car Loan</option>
                    <option {{isSelected "Personal Loan"}}>Personal Loan</option>
                    <option {{isSelected "Lease"}}>Lease</option>
                    <option {{isSelected "Rent"}}>Rent</option>
                    <option {{isSelected "Child Support"}}>Child Support</option>
                </select>

                <!--<input class="form-control typeahead description" name="description" type="text" value="{{description}}" placeholder="Description"/>-->
            </td>
            <td>
                <input type="text" class="payment dollar form-control" value="{{payment}}" placeholder="Payment"/>
            </td>
            <td>
                <input type="text" class="owing dollar form-control" value="{{owing}}" placeholder="Owing"/>
            </td>
            <td class="noline" style="width:40px;">
                <!--<button class="delete btn btn-sm">-->
                <span class="glyphicon glyphicon-remove delete clickable"></span>
                <!--</button>-->
            </td>
        </tr>

        {{/each}}
        <tr>
            <td colspan="4" style="vertical-align:middle">
                <button id="addCommitment" class="btn">Add Commitment</button>
            </td>
        </tr>
    </table>

</template>

<template name="liabilityDropItem">
    <span class="label">{{description}}</span>
</template>

        <template name="tester">
            <input type="text" id="test" class="form-control"/>
        </template>