<template name="contacts">
    <h1>Contacts <small>List</small></h1>
    <div>
    {{#each contacts}}
        {{> contactCard}}
    {{/each}}
    </div>
</template>

<template name="contactCard">
    <a href="{{pathFor 'contact' id=this._id }}">
        <div class="mi-card">
            <img src="person-icon.jpg" class="pull-left" style="width:30px;" />
            <div style="padding-left:40px">
            <div style="color:#424242"><b>{{firstName}} {{lastName}}</b></div>
            {{mobile}} {{homePhone}}<br/>
            {{email}}

            <!--<p style="color:#6E6E6E">{{address1}}<br/>-->
                <!--{{cityStatePostcode}}</p>-->
            </div>
        </div>
    </a>
</template>