<template name="contact">
    <h1>Contact
        <small>Page</small>
    </h1>

    <form class="form-horizontal" role="form">
        <div class="container">
            <div class="row">

                <div class="col-md-6">

                    <!-- First Name -->
                    <div class="form-group">
                        <label for="firstName" class="col-sm-4 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{firstName}}" class="form-control" id="firstName" placeholder="">
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{lastName}}" class="form-control" id="lastName" placeholder="">
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" value="{{email}}" class="form-control" id="email" placeholder="">
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <!-- Mobile -->
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4 control-label">Mobile</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{mobile}}" class="form-control phone-number" id="mobile" placeholder="">
                        </div>
                    </div>

                    <!-- Work Phone -->
                    <div class="form-group">
                        <label for="workPhone" class="col-sm-4 control-label">Work Phone</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{workPhone}}" class="form-control phone-number" id="workPhone" placeholder="">
                        </div>
                    </div>

                    <!--Home Phone -->
                    <div class="form-group">
                        <label for="homePhone" class="col-sm-4 control-label">Home Phone</label>
                        <div class="col-sm-8">
                            <input type="text"  value="{{homePhone}}" class="form-control phone-number" id="homePhone" placeholder="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</template>